  html {
    height: 110vh;
    width: auto;
  }

.header {
    background-color: whitesmoke;
    padding: 5px;
    text-align: center;
  }

.p1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    text-align: center;
      }

h2 {color: grey;
    font-size: 40px;}

.h2 {color: grey;
    font-size: 40px;
    text-align: center;}

.center {
        margin-left: auto;
        margin-right: auto;
      }

#table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-collapse: collapse;
    width: 70%;
    text-align: left;
    
  }

  #table td, #table th {
    border: 1px solid #ddd;
    padding: 10px;
  }
  #table th {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
    background-color: #f3e411;
    color: rgb(48, 46, 46);
  }

#table tr:nth-child(odd){background-color: #f0e9e9;}

#table tr:hover {background-color: rgb(182, 181, 181);}

div.desc {
    padding: 20px;
    text-align: center;
    font-size: large;
  }  


.footer {
    background-color: #c0bfbf;
    padding: 30px;
    text-align: center;
  }

  .flexbox {
    display: flex;
    background-color: rgb(87, 84, 84);
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  .flexbox > div {
    background-color: #333333;
    margin: 10px;
    padding: 20px;
    color: white;
  }




  .column {
    float: left;
    padding: 10px;
    width: 30%;
  }
  
    




  .header {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change color on hover */
  .topnav a:hover {
    background-color: rgba(221, 221, 221, 0.363);
    color: black;
  }
/* {
    background-color: red;
}

div {
    background-color: blue;
}

.myClass {
    background-color: orange;
}

#myId {
    background-color: yellow;
}

/*p::first-line {
    color: teal;
}


h3:hover {
    color: red;
}
h3 span:hover {
    color: red;
}

a:visited {
    color: seagreen;
}



